[user]
	name = danieiff
	email = sugielff@gmail.com
[credential]
	helper = cache
[merge]
	tool = vimdiff
[core]
	editor = vim
[diff]
  algorithm = histogram
  colorMoved = dimmed-zebra
  
[pull]
	ff = only
