[submodule "nvim/pack/my/start/nvim-colorizer.lua"]
	path = nvim/pack/my/start/nvim-colorizer.lua
	url = https://github.com/NvChad/nvim-colorizer.lua
[submodule "nvim/pack/my/start/nvim-web-devicons"]
	path = nvim/pack/my/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "nvim/pack/my/start/nui.nvim"]
	path = nvim/pack/my/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "nvim/pack/my/start/plenary.nvim"]
	path = nvim/pack/my/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/my/start/undotree"]
	path = nvim/pack/my/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "nvim/pack/my/start/telescope.nvim"]
	path = nvim/pack/my/start/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim
[submodule "nvim/pack/my/start/nvim-tree.lua"]
	path = nvim/pack/my/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "nvim/pack/my/start/vim-fugitive"]
	path = nvim/pack/my/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/pack/my/start/gitsigns.nvim"]
	path = nvim/pack/my/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/my/start/overseer.nvim"]
	path = nvim/pack/my/start/overseer.nvim
	url = https://github.com/stevearc/overseer.nvim
[submodule "nvim/pack/my/start/indent-blankline.nvim"]
	path = nvim/pack/my/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "nvim/pack/my/start/vim-illuminate"]
	path = nvim/pack/my/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "nvim/pack/my/start/nvim-surround"]
	path = nvim/pack/my/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "nvim/pack/my/start/nvim-ts-autotag"]
	path = nvim/pack/my/start/nvim-ts-autotag
	url = https://github.com/danieiff/nvim-ts-autotag
[submodule "nvim/pack/my/start/nvim-autopairs"]
	path = nvim/pack/my/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "nvim/pack/my/start/syntax-tree-surfer"]
	path = nvim/pack/my/start/syntax-tree-surfer
	url = https://github.com/ziontee113/syntax-tree-surfer
[submodule "nvim/pack/my/start/flash.nvim"]
	path = nvim/pack/my/start/flash.nvim
	url = https://github.com/folke/flash.nvim
[submodule "nvim/pack/my/start/friendly-snippets"]
	path = nvim/pack/my/start/friendly-snippets
	url = https://github.com/danieiff/friendly-snippets
[submodule "nvim/pack/my/start/ChatGPT.nvim"]
	path = nvim/pack/my/start/ChatGPT.nvim
	url = https://github.com/jackMort/ChatGPT.nvim
[submodule "nvim/pack/my/start/neogen"]
	path = nvim/pack/my/start/neogen
	url = https://github.com/danymat/neogen
[submodule "nvim/pack/my/start/mason.nvim"]
	path = nvim/pack/my/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "nvim/pack/my/start/nvim-lspconfig"]
	path = nvim/pack/my/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/my/start/lsp-lens.nvim"]
	path = nvim/pack/my/start/lsp-lens.nvim
	url = https://github.com/danieiff/lsp-lens.nvim
[submodule "nvim/pack/my/start/symbols-outline.nvim"]
	path = nvim/pack/my/start/symbols-outline.nvim
	url = https://github.com/simrat39/symbols-outline.nvim
[submodule "nvim/pack/my/start/conform.nvim"]
	path = nvim/pack/my/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim
[submodule "nvim/pack/my/start/nvim-dap"]
	path = nvim/pack/my/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim/pack/my/start/nvim-dap-ui"]
	path = nvim/pack/my/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim/pack/my/start/nvim-dap-virtual-text"]
	path = nvim/pack/my/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "nvim/pack/my/start/nvim-nio"]
	path = nvim/pack/my/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "nvim/pack/my/start/typescript-tools.nvim"]
	path = nvim/pack/my/start/typescript-tools.nvim
	url = https://github.com/pmizio/typescript-tools.nvim
[submodule "nvim/pack/my/start/neotest-jest"]
	path = nvim/pack/my/start/neotest-jest
	url = https://github.com/nvim-neotest/neotest-jest
[submodule "nvim/pack/my/start/SchemaStore.nvim"]
	path = nvim/pack/my/start/SchemaStore.nvim
	url = https://github.com/b0o/SchemaStore.nvim
[submodule "nvim/pack/my/start/rest-nvim"]
	path = nvim/pack/my/start/rest-nvim
	url = https://github.com/rest-nvim/rest.nvim
[submodule "nvim/pack/my/start/nvim-treesitter"]
	path = nvim/pack/my/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/my/start/fidget.nvim"]
	path = nvim/pack/my/start/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "/home/sugielff/dotfiles/nvim/pack/opt/start/roslyn.nvim"]
	path = /home/sugielff/dotfiles/nvim/pack/opt/start/roslyn.nvim
	url = https://github.com/seblj/roslyn.nvim
[submodule "nvim/pack/my/start/avante.nvim"]
	path = nvim/pack/my/start/avante.nvim
	url = https://github.com/yetone/avante.nvim
[submodule "nvim/pack/opt/start/octo.nvim"]
	path = nvim/pack/opt/start/octo.nvim
	url = https://github.com/pwntester/octo.nvim
[submodule "nvim/pack/opt/start/neocodeium"]
	path = nvim/pack/opt/start/neocodeium
	url = https://github.com/monkoose/neocodeium
[submodule "nvim/pack/opt/start/flutter-tools.nvim"]
	path = nvim/pack/opt/start/flutter-tools.nvim
	url = https://github.com/nvim-flutter/flutter-tools.nvim
[submodule "nvim/pack/my/start/newpaper.nvim"]
	path = nvim/pack/my/start/newpaper.nvim
	url = https://github.com/yorik1984/newpaper.nvim
[submodule "nvim/pack/opt/start/nvim-dap-ruby"]
	path = nvim/pack/opt/start/nvim-dap-ruby
	url = https://github.com/suketa/nvim-dap-ruby
[submodule "nvim/pack/my/start/nvim-scissors"]
	path = nvim/pack/my/start/nvim-scissors
	url = https://github.com/chrisgrieser/nvim-scissors
[submodule "nvim/pack/my/start/neogit"]
	path = nvim/pack/my/start/neogit
	url = https://github.com/NeogitOrg/neogit
[submodule "nvim/pack/my/start/blink.cmp"]
	path = nvim/pack/my/start/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "nvim/pack/my/start/symbol-usage.nvim"]
	path = nvim/pack/my/start/symbol-usage.nvim
	url = https://github.com/Wansmer/symbol-usage.nvim
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/satellite.nvim"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/satellite.nvim
	url = https://github.com/lewis6991/satellite.nvim
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/aoc.nvim"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/aoc.nvim
	url = https://github.com/csessh/aoc.nvim
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/blink.cmp"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/lsp_signature.nvim"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/lsp_signature.nvim
	url = https://github.com/ray-x/lsp_signature.nvim
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/nvim-lint"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/nvim-treesitter-context"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/lush.nvim"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/lush.nvim
	url = https://github.com/rktjmp/lush.nvim
[submodule "/home/sugiel/dotfiles/nvim/pack/my/start/nightfox.nvim"]
	path = /home/sugiel/dotfiles/nvim/pack/my/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "nvim/pack/my/start/debugprint.nvim"]
  path = nvim/pack/my/start/debugprint.nvim
  url = https://github.com/andrewferrier/debugprint.nvim
[submodule "nvim/pack/my/start/neotest"]
	path = nvim/pack/my/start/neotest
	url = https://github.com/nvim-neotest/neotest
[submodule "nvim/pack/my/start/markdown-preview.nvim"]
	path = nvim/pack/my/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "nvim/pack/my/start/render-markdown.nvim"]
	path = nvim/pack/my/start/render-markdown.nvim
	url = https://github.com/MeanderingProgrammer/render-markdown.nvim
[submodule "nvim/pack/my/start/navigate-note.nvim"]
	path = nvim/pack/my/start/navigate-note.nvim
	url = https://github.com/you-n-g/navigate-note.nvim
[submodule "nvim/pack/my/start/lua-console.nvim"]
	path = nvim/pack/my/start/lua-console.nvim
	url = https://github.com/YaroSpace/lua-console.nvim
[submodule "nvim/pack/my/start/satellite.nvim"]
	path = nvim/pack/my/start/satellite.nvim
	url = https://github.com/lewis6991/satellite.nvim
