[user]
	name = danieiff
	email = sugielff@gmail.com
[core]
	editor = nvim
[pull]
	ff = only
[diff]
	tool = nvimdiff
	algorithm = histogram
	colorMoved = dimmed-zebra
[difftool "nvimdiff"]
	cmd = "nvim -R -d -c \"wincmd l\" -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvimdiff
[mergetool]
	keepBackup = false
	prompt = false
[mergetool "nvimdiff"]
	cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"  \"$MERGED\""
[init]
	defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
