[submodule "nvim/pack/required/start/nvim-web-devicons"]
	path = nvim/pack/required/start/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons
[submodule "nvim/pack/required/start/plenary.nvim"]
	path = nvim/pack/required/start/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim
[submodule "nvim/pack/required/start/undotree"]
	path = nvim/pack/required/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "nvim/pack/required/start/nvim-tree.lua"]
	path = nvim/pack/required/start/nvim-tree.lua
	url = https://github.com/nvim-tree/nvim-tree.lua
[submodule "nvim/pack/required/start/vim-fugitive"]
	path = nvim/pack/required/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/pack/required/start/gitsigns.nvim"]
	path = nvim/pack/required/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
[submodule "nvim/pack/required/start/overseer.nvim"]
	path = nvim/pack/required/start/overseer.nvim
	url = https://github.com/stevearc/overseer.nvim
[submodule "nvim/pack/required/start/indent-blankline.nvim"]
	path = nvim/pack/required/start/indent-blankline.nvim
	url = https://github.com/lukas-reineke/indent-blankline.nvim
[submodule "nvim/pack/required/start/vim-illuminate"]
	path = nvim/pack/required/start/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate
[submodule "nvim/pack/required/start/nvim-surround"]
	path = nvim/pack/required/start/nvim-surround
	url = https://github.com/kylechui/nvim-surround
[submodule "nvim/pack/required/start/nvim-ts-autotag"]
	path = nvim/pack/required/start/nvim-ts-autotag
	url = https://github.com/danieiff/nvim-ts-autotag
[submodule "nvim/pack/required/start/nvim-autopairs"]
	path = nvim/pack/required/start/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs
[submodule "nvim/pack/required/start/syntax-tree-surfer"]
	path = nvim/pack/required/start/syntax-tree-surfer
	url = https://github.com/ziontee113/syntax-tree-surfer
[submodule "nvim/pack/required/start/friendly-snippets"]
	path = nvim/pack/required/start/friendly-snippets
	url = https://github.com/danieiff/friendly-snippets
[submodule "nvim/pack/required/start/neogen"]
	path = nvim/pack/required/start/neogen
	url = https://github.com/danymat/neogen
[submodule "nvim/pack/required/start/mason.nvim"]
	path = nvim/pack/required/start/mason.nvim
	url = https://github.com/williamboman/mason.nvim
[submodule "nvim/pack/required/start/nvim-lspconfig"]
	path = nvim/pack/required/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "nvim/pack/required/start/lsp-lens.nvim"]
	path = nvim/pack/required/start/lsp-lens.nvim
	url = https://github.com/danieiff/lsp-lens.nvim
[submodule "nvim/pack/required/start/conform.nvim"]
	path = nvim/pack/required/start/conform.nvim
	url = https://github.com/stevearc/conform.nvim
[submodule "nvim/pack/required/start/nvim-dap"]
	path = nvim/pack/required/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap
[submodule "nvim/pack/required/start/nvim-dap-ui"]
	path = nvim/pack/required/start/nvim-dap-ui
	url = https://github.com/rcarriga/nvim-dap-ui
[submodule "nvim/pack/required/start/nvim-dap-virtual-text"]
	path = nvim/pack/required/start/nvim-dap-virtual-text
	url = https://github.com/theHamsta/nvim-dap-virtual-text
[submodule "nvim/pack/required/start/nvim-nio"]
	path = nvim/pack/required/start/nvim-nio
	url = https://github.com/nvim-neotest/nvim-nio
[submodule "nvim/pack/required/start/typescript-tools.nvim"]
	path = nvim/pack/required/start/typescript-tools.nvim
	url = https://github.com/pmizio/typescript-tools.nvim
[submodule "nvim/pack/required/start/neotest-jest"]
	path = nvim/pack/required/start/neotest-jest
	url = https://github.com/nvim-neotest/neotest-jest
[submodule "nvim/pack/required/start/rest-nvim"]
	path = nvim/pack/required/start/rest-nvim
	url = https://github.com/rest-nvim/rest.nvim
[submodule "nvim/pack/required/start/nvim-treesitter"]
	path = nvim/pack/required/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter
[submodule "nvim/pack/required/start/fidget.nvim"]
	path = nvim/pack/required/start/fidget.nvim
	url = https://github.com/j-hui/fidget.nvim
[submodule "nvim/pack/opt/start/roslyn.nvim"]
	path = nvim/pack/opt/start/roslyn.nvim
	url = https://github.com/seblj/roslyn.nvim
[submodule "nvim/pack/required/start/avante.nvim"]
	path = nvim/pack/required/start/avante.nvim
	url = https://github.com/yetone/avante.nvim
[submodule "nvim/pack/opt/start/octo.nvim"]
	path = nvim/pack/opt/start/octo.nvim
	url = https://github.com/pwntester/octo.nvim
[submodule "nvim/pack/opt/start/neocodeium"]
	path = nvim/pack/opt/start/neocodeium
	url = https://github.com/monkoose/neocodeium
[submodule "nvim/pack/opt/start/flutter-tools.nvim"]
	path = nvim/pack/opt/start/flutter-tools.nvim
	url = https://github.com/nvim-flutter/flutter-tools.nvim
[submodule "nvim/pack/opt/start/nvim-dap-ruby"]
	path = nvim/pack/opt/start/nvim-dap-ruby
	url = https://github.com/suketa/nvim-dap-ruby
[submodule "nvim/pack/required/start/nvim-scissors"]
	path = nvim/pack/required/start/nvim-scissors
	url = https://github.com/chrisgrieser/nvim-scissors
[submodule "nvim/pack/required/start/neogit"]
	path = nvim/pack/required/start/neogit
	url = https://github.com/NeogitOrg/neogit
[submodule "nvim/pack/required/start/symbol-usage.nvim"]
	path = nvim/pack/required/start/symbol-usage.nvim
	url = https://github.com/Wansmer/symbol-usage.nvim
[submodule "nvim/pack/required/start/neotest"]
	path = nvim/pack/required/start/neotest
	url = https://github.com/nvim-neotest/neotest
[submodule "nvim/pack/required/start/markdown-preview.nvim"]
	path = nvim/pack/required/start/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim
[submodule "nvim/pack/required/start/navigate-note.nvim"]
	path = nvim/pack/required/start/navigate-note.nvim
	url = https://github.com/you-n-g/navigate-note.nvim
[submodule "nvim/pack/required/start/satellite.nvim"]
	path = nvim/pack/required/start/satellite.nvim
	url = https://github.com/lewis6991/satellite.nvim
[submodule "nvim/pack/required/start/grug-far.nvim"]
	path = nvim/pack/required/start/grug-far.nvim
	url = https://github.com/MagicDuck/grug-far.nvim
[submodule "nvim/pack/required/start/blink.cmp"]
	path = nvim/pack/required/start/blink.cmp
	url = https://github.com/saghen/blink.cmp
[submodule "nvim/pack/required/start/focus.nvim"]
	path = nvim/pack/required/start/focus.nvim
	url = https://github.com/nvim-focus/focus.nvim
[submodule "nvim/pack/required/start/diffview.nvim"]
	path = nvim/pack/required/start/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim
[submodule "nvim/pack/required/start/edgy.nvim"]
	path = nvim/pack/required/start/edgy.nvim
	url = https://github.com/folke/edgy.nvim
[submodule "nvim/pack/required/start/aoc.nvim"]
	path = nvim/pack/required/start/aoc.nvim
	url = https://github.com/csessh/aoc.nvim
[submodule "nvim/pack/required/start/nvim-lint"]
	path = nvim/pack/required/start/nvim-lint
	url = https://github.com/mfussenegger/nvim-lint
[submodule "nvim/pack/required/start/nvim-treesitter-context"]
	path = nvim/pack/required/start/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context
[submodule "nvim/pack/required/start/telescope-fzf-native.nvim"]
	path = nvim/pack/required/start/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim
[submodule "nvim/pack/required/start/leap.nvim"]
	path = nvim/pack/required/start/leap.nvim
	url = https://github.com/ggandor/leap.nvim
[submodule "nvim/pack/required/start/trouble.nvim"]
	path = nvim/pack/required/start/trouble.nvim
	url = https://github.com/folke/trouble.nvim
[submodule "nvim/pack/required/start/nvim-bqf"]
	path = nvim/pack/required/start/nvim-bqf
	url = https://github.com/kevinhwang91/nvim-bqf
[submodule "nvim/pack/required/start/fzf-lua"]
	path = nvim/pack/required/start/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua
[submodule "nvim/pack/required/start/aerial.nvim"]
	path = nvim/pack/required/start/aerial.nvim
	url = https://github.com/stevearc/aerial.nvim
[submodule "nvim/pack/required/start/nui.nvim"]
	path = nvim/pack/required/start/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim
[submodule "nvim/pack/required/start/nightfox.nvim"]
	path = nvim/pack/required/start/nightfox.nvim
	url = https://github.com/EdenEast/nightfox.nvim
[submodule "nvim/pack/required/start/timber.nvim"]
	path = nvim/pack/required/start/timber.nvim
	url = https://github.com/Goose97/timber.nvim
[submodule "nvim/pack/required/start/refactoring.nvim"]
	path = nvim/pack/required/start/refactoring.nvim
	url = https://github.com/ThePrimeagen/refactoring.nvim
[submodule "nvim/pack/required/start/iron.nvim"]
	path = nvim/pack/required/start/iron.nvim
	url = https://github.com/Vigemus/iron.nvim
