keybinds clear-defaults=true {
    locked {
        bind "Alt g" { SwitchToMode "Normal"; }
    }
    entersearch {
        bind "Alt f" { SwitchToMode "Normal"; }
        bind "Enter" { SwitchToMode "Search"; }
    }
    search {
        bind "Alt f" { ScrollToBottom; SwitchToMode "Normal"; }
        bind "n" { Search "down"; }
        bind "N" { Search "up"; }
        bind "c" { SearchToggleOption "CaseSensitivity"; }
        bind "w" { SearchToggleOption "Wrap"; }
        bind "o" { SearchToggleOption "WholeWord"; }
    }
    shared_except "locked" {
        bind "Alt s" {
            LaunchOrFocusPlugin "zellij:session-manager" {
                floating true
                move_to_focused_tab true
            };
        }
        bind "Alt e" { EditScrollback; SwitchToMode "Normal"; }
        bind "Alt f" { SwitchToMode "EnterSearch"; }
        bind "Alt g" { SwitchToMode "Locked"; }
        bind "Alt d" { Detach; }
        bind "Alt Q" { Quit; }
        bind "Alt n" { NewPane; }
        bind "Alt p" { ToggleFloatingPanes; }
        bind "Alt o" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt =" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
        bind "PageUp" { PageScrollUp; }
        bind "PageDown" { PageScrollDown; }
        bind "Alt Up" { HalfPageScrollUp; }
        bind "Alt Down" { HalfPageScrollDown; }
        bind "Alt t" { NewTab; SwitchToMode "Normal"; }
        bind "Alt 1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "Alt 2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "Alt 3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "Alt 4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "Alt 5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "Alt 6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "Alt 7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "Alt 8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "Alt 9" { GoToTab 9; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar { path "tab-bar"; }
    status-bar { path "status-bar"; }
    strider { path "strider"; }
    compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

theme "nord"
pane_frames false
default_layout "compact"
